<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns:cewrap="http://typo3.org/ns/ReneGast/CogtailPublishing/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="{data.frame_class} != none">
		<f:then>

			<div id="c{data.uid}" class="layout{f:if(condition: data.tx_cogtail_wrap_class_input, then: ' {data.tx_cogtail_wrap_class_input}')}{f:if(condition: data.tx_cogtail_wrap_class_properties, then: ' {data.tx_cogtail_wrap_class_properties}')}{f:if(condition: data.tx_cogtail_wrap_class_style, then: ' {data.tx_cogtail_wrap_class_style}')}{f:if(condition: data.tx_cogtail_wrap_class_textvw, then: ' {data.tx_cogtail_wrap_class_textvw}')} layout-{data.frame_class} c-{data.CType} c-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' space-before-{data.space_before_class}')}{f:if(condition: data.tx_cogtail_wrap_padleft, then: ' {data.tx_cogtail_wrap_padleft}')}{f:if(condition: data.tx_cogtail_wrap_padright, then: ' {data.tx_cogtail_wrap_padright}')}{f:if(condition: data.tx_cogtail_wrap_padtop, then: ' {data.tx_cogtail_wrap_padtop}')}{f:if(condition: data.tx_cogtail_wrap_padbottom, then: ' {data.tx_cogtail_wrap_padbottom}')}{f:if(condition: data.tx_cogtail_wrap_textwidth, then: ' {data.tx_cogtail_wrap_textwidth}')}{f:if(condition: data.tx_cogtail_wrap_galmobsiz, then: ' {data.tx_cogtail_wrap_galmobsiz}')}{f:if(condition: data.tx_cogtail_wrap_imgwidth, then: ' {data.tx_cogtail_wrap_imgwidth}')}{f:if(condition: data.tx_cogtail_wrap_galmobads, then: ' {data.tx_cogtail_wrap_galmobads}')}{f:if(condition: data.tx_cogtail_wrap_galads, then: ' {data.tx_cogtail_wrap_galads}')}{f:if(condition: data.space_after_class, then: ' space-after-{data.space_after_class}')}{f:if(condition: data.tx_cogtail_wrap_icons, then: ' {data.tx_cogtail_wrap_icons} ')}{f:if(condition: data.tx_cogtail_wrap_id_input, then: ' {data.tx_cogtail_wrap_id_input} ')}{f:if(condition: data.tx_cogtail_wrap_htop, then: ' {data.tx_cogtail_wrap_htop}')}{f:if(condition: data.tx_cogtail_wrap_hbottom, then: ' {data.tx_cogtail_wrap_hbottom}')}{f:if(condition: data.tx_cogtail_wrap_bfontstyle, then: ' {data.tx_cogtail_wrap_bfontstyle}')}{f:if(condition: data.tx_cogtail_wrap_bfontsize, then: ' {data.tx_cogtail_wrap_bfontsize}')}{f:if(condition: data.tx_cogtail_wrap_bfontlayout, then: ' {data.tx_cogtail_wrap_bfontlayout}')}{f:if(condition: data.tx_cogtail_wrap_blineheight, then: ' {data.tx_cogtail_wrap_blineheight}')}{f:if(condition: data.tx_cogtail_wrap_aos_input, then: ' {data.tx_cogtail_wrap_aos_input}')}">
				<f:if condition="{data._LOCALIZED_UID}">
				</f:if>
				<f:render section="Before" optional="true">
					<f:render partial="DropIn/Before/All" arguments="{_all}" />
				</f:render>
				<f:render section="Header" optional="true">
					<f:render partial="Header/All" arguments="{_all}" />
				</f:render>
				<f:render section="Main" optional="true" />
				<f:render section="Footer" optional="true">
					<f:render partial="Footer/All" arguments="{_all}" />
				</f:render>
				<f:render section="After" optional="true">
					<f:render partial="DropIn/After/All" arguments="{_all}" />
				</f:render>
			</div>

		</f:then>
		<f:else>

			<f:if condition="{data._LOCALIZED_UID}">

			</f:if>
			<f:if condition="{data.space_before_class}">
				<div class="space-before-{data.space_before_class}"></div>
			</f:if>
			<f:render section="Before" optional="true">
				<f:render partial="DropIn/Before/All" arguments="{_all}" />
			</f:render>
			<f:render section="Header" optional="true">
				<f:render partial="Header/All" arguments="{_all}" />
			</f:render>
			<f:render section="Main" optional="true" />
			<f:render section="Footer" optional="true">
				<f:render partial="Footer/All" arguments="{_all}" />
			</f:render>
			<f:render section="After" optional="true">
				<f:render partial="DropIn/After/All" arguments="{_all}" />
			</f:render>
			<f:if condition="{data.space_after_class}">
				<div class="space-after-{data.space_after_class}"></div>
			</f:if>

		</f:else>
	</f:if>
</f:spaceless>
</html>
